{
  "swagger": "2.0",
  "info": {
    "version": "1.16.14",
    "title": "API REST"
  },
  "host": "api-gci-rest.integracionplanok.io",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "APIKey": {
      "type": "apiKey",
      "in": "query",
      "name": "apikey",
      "description": "apikey de inmobiliaria"
    },
    "APIKeyPublic": {
      "type": "apiKey",
      "in": "header",
      "name": "xApiKeyPublic",
      "description": "X-API-KEY-PUBLIC inmobiliaria"
    },
    "JWT": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "JWT"
    },
    "XAPIKey": {
      "type": "apiKey",
      "name": "X-API-KEY",
      "in": "header",
      "description": "apikey de inmobiliaria"
    },
    "CognitoJWT": {
      "type": "apiKey",
      "in": "header",
      "name": "Token",
      "description": "Token Cognito"
    },
    "NotificacionPush": {
      "type": "apiKey",
      "in": "query",
      "name": "codigoAplicacion",
      "description": "codigo aplicacion app móvil"
    },
    "Planok": {
      "type": "apiKey",
      "in": "query",
      "name": "sharedSecret",
      "description": "planok shared secret"
    },
    "SsoJWT": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "JWT provisto por el SSO"
    }
  },
  "paths": {
    "/provisioning/user": {
      "x-swagger-router-controller": "ProvisioningController",
      "post": {
        "tags": [
          "Provisioning"
        ],
        "operationId": "provisionUser",
        "summary": "Proyecta o actualiza un usuario desde el SSO",
        "security": [
          {
            "SsoJWT": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CanonicalUserProjection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Error Interno",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/preguntas-frecuentes": {
      "x-swagger-router-controller": "GuiaPreguntasFrecuentesController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "getPreguntasFrecuentes",
        "summary": "Get Preguntas Frecuentes",
        "description": "Trae las preguntas frecuentes según id de proyecto, necesita sesion",
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "apiKey": {
                  "type": "string"
                },
                "idProyecto": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PreguntasFrecuentes"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/re-enviar-codigo-validacion": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "enviarCodigoValidacion",
        "summary": "Envia codigo de validación al mail del propietario para la confirmación de su cuenta",
        "description": "Toma el mail y consume el servicio de cognito que envia el codigo de validación al mail que se agrega",
        "parameters": [
          {
            "in": "body",
            "name": "email",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          }
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/confirmar-correo-propietario": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "confirmarCorreoPropietario",
        "summary": "Confirma el correo del usuario registrado en la base de datos pivote, responde un código de verificación",
        "description": "usa el código de verificación enviado al correo para registrar completamente al usuario",
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "codigoValidacion": {
                  "type": "string"
                },
                "mail": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/cambiar-password": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "cambiarPassword",
        "summary": "Cambia la contraseña de un propietario",
        "description": "Cambia la contraseña de un propietario: debe contener mínimo 8 caracteres, al menos 1 número, al menos 1 Mayúscula y al menos 1 minuscula",
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mewPassword": {
                  "type": "string"
                },
                "mail": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/registrar-propietario-pivote": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "register",
        "summary": "Registra al usuario desde GCI a la BD de propietarios",
        "description": "propietario se registra en la BD con un negocio activo",
        "parameters": [
          {
            "in": "body",
            "name": "propietario",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Propietario"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/registro-inicial-propietario": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "registroInicial",
        "summary": "Registro inicial, recibe el rut y lo crea en cognito, solo si existe en BD pivote",
        "description": "Registrar usuario para la app guía propietario y envía el codigo de validación de la cuenta, que tiene una duración de 48 horas",
        "parameters": [
          {
            "in": "body",
            "name": "propietarioRut",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PropietarioRegistro"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/trae-estado-propietario": {
      "x-swagger-router-controller": "AuthController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "getEstadoPropietario",
        "summary": "Trae el estado del propietario",
        "description": "Según el rut del propietario, revisa si esta reghistrado y confirmado en cognito, registrado, pero no confirmado o no tiene negocio vaálido",
        "parameters": [
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "Rut del propietario sin guin ni digito verificador"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/set-force-change-pass": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "setForceChangePass",
        "summary": "Actualiza ForceChangePass en BD pivote",
        "description": "Actualiza estado de pass en BD pivote, Necesita sesión de usuario en el header",
        "parameters": [
          {
            "in": "body",
            "name": "email",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string",
                  "format": "email"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/login": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "login",
        "summary": "Recibe user y pass y devuelve sesión",
        "description": "Loguear usuario para la app guía propietario",
        "parameters": [
          {
            "in": "body",
            "name": "loginCognito",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginCognito"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/refresh-token": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "refreshToken",
        "summary": "Recibe refreshToken y devuelve nuevo token",
        "description": "Actualiza el token de usuario",
        "parameters": [
          {
            "in": "body",
            "name": "refreshTokenCognito",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RefreshTokenCognito"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/registro-dispositivo": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "registroDispositivo",
        "summary": "Registra el id del dispositivo logueado",
        "description": "Registrar el identificador del último dispositivo logueado",
        "parameters": [
          {
            "in": "body",
            "name": "RegistroDispositivo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistroDispositivo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/enviar-correo-bienvenida": {
      "x-swagger-router-controller": "AuthController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "enviarCorreoBienvenida",
        "summary": "Enviar Correo Bienvenida",
        "description": "Enviar correo bienvenida al usuario",
        "parameters": [
          {
            "in": "body",
            "name": "EnviarCorreoBienvenida",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnviarCorreoBienvenida"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/inmobiliarias-proyectos-usuario/{rutDNI}": {
      "x-swagger-router-controller": "GuiaProyectosPorInmobiliariasController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "proyectosPorInmobiliariasByRut",
        "summary": "Endpoint para listar los proyectos por inmobiliaria según el rut del usuario",
        "description": "Buscar los proyectos asociados a las inmobiliaria asociada a un propietario",
        "parameters": [
          {
            "in": "path",
            "name": "rutDNI",
            "type": "string",
            "required": true,
            "description": "Identificador del usuario (RUT/DNI)"
          },
          {
            "in": "query",
            "name": "apikey",
            "type": "string",
            "description": "Apikey de la inmobiliaria"
          }
        ],
        "security": [
          {
            "CognitoJWT": [],
            "Planok": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProyectosPorInmobiliaria"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/inmobiliarias-proyectos-usuario/api-key/{rutDNI}": {
      "x-swagger-router-controller": "GuiaProyectosPorInmobiliariasController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "proyectosPorInmobiliariasByRut",
        "summary": "Endpoint para listar los proyectos por inmobiliaria según el rut del usuario y la ApiKey de la inmobiliaria",
        "description": "Buscar los proyectos asociados a las inmobiliaria asociada a un propietario",
        "parameters": [
          {
            "in": "path",
            "name": "rutDNI",
            "type": "string",
            "required": true,
            "description": "Identificador del usuario (RUT/DNI)"
          },
          {
            "in": "query",
            "name": "apikey",
            "type": "string",
            "required": true,
            "description": "Apikey de la inmobiliaria"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProyectosPorInmobiliaria"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/datos-propiedad": {
      "x-swagger-router-controller": "GuiaDatosPropiedadController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "findDatosPropiedadByRutAndIdProyectoAndApiKey",
        "summary": "Endpoint para listar los proyectos por inmobiliaria según el rut del usuario",
        "description": "Buscar los proyectos asociados a las inmobiliaria asociada a un propietario",
        "parameters": [
          {
            "in": "query",
            "name": "rutDNI",
            "type": "string",
            "required": true,
            "description": "Identificador del usuario (RUT/DNI)"
          },
          {
            "in": "query",
            "name": "idProyecto",
            "type": "integer",
            "required": true,
            "description": "Identificador del proyecto"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "Api key de la Inmobiliaria"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DatosPropiedad"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/datos-forma-pago": {
      "x-swagger-router-controller": "GuiaDatosFormaPagoController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "findFormaPagoByRutAndIdProyectoAndApiKey",
        "summary": "Endpoint para listar la forma de pago según el rut del usuario",
        "description": "Buscar la forma de pago asociada a un propietario",
        "parameters": [
          {
            "in": "query",
            "name": "rutDNI",
            "type": "string",
            "required": true,
            "description": "Identificador del usuario (RUT/DNI)"
          },
          {
            "in": "query",
            "name": "idProyecto",
            "type": "integer",
            "required": true,
            "description": "Identificador del proyecto"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "Api key de la Inmobiliaria"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DatosFormaPago"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/agenda-contacto": {
      "x-swagger-router-controller": "GuiaAgendaContactoController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "findByIdInmobiliriaAndIdProyecto",
        "summary": "Endpoint para listar agenda de contacto por proyecto de una inmobiliaria",
        "description": "listar agenda de contacto por proyecto de una inmobiliaria",
        "parameters": [
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "ApiKey de la Inmobiliaria"
          },
          {
            "in": "query",
            "name": "idProyecto",
            "type": "integer",
            "required": true,
            "description": "Identificador del proyecto"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AgendaContacto"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/tipo-consultas": {
      "x-swagger-router-controller": "GuiaTipoConsultaController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "findTipoConsultasByApiKey",
        "summary": "Endpoint para listar los tipos de consultas por inmobiliaria",
        "description": "Listar los tipos de consultas por inmobiliaria",
        "parameters": [
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "ApiKey de la Inmobiliaria"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TipoConsultas"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/ingresar-consulta": {
      "x-swagger-router-controller": "GuiaFormularioConsultaController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "ingresar",
        "summary": "Endpoint para ingreso de consulta",
        "description": "Ingreso de consulta",
        "parameters": [
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "ApiKey de la Inmobiliaria"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rutCliente": {
                  "type": "string",
                  "description": "RUT sin dígito verificador"
                },
                "idProducto": {
                  "type": "integer"
                },
                "idCategoria": {
                  "type": "integer"
                },
                "consulta": {
                  "type": "string"
                }
              },
              "required": [
                "rutCliente",
                "idProducto",
                "idCategoria",
                "consulta"
              ]
            }
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/historial-consulta": {
      "x-swagger-router-controller": "GuiaHistorialConsultaController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "find",
        "summary": "Endpoint para listar historial de consulta",
        "description": "Historial de consulta",
        "parameters": [
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "ApiKey de la Inmobiliaria"
          },
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "RUT del cliente sin dígito verificador"
          },
          {
            "in": "query",
            "name": "idProyecto",
            "type": "integer",
            "required": true,
            "description": "Identificador del proyecto"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HistorialConsulta"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/enviar-notificacion-push": {
      "x-swagger-router-controller": "GuiaNotificacionPushController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "enviar",
        "summary": "Enviar notificacion push por aplicación",
        "description": "Historial de consulta",
        "parameters": [
          {
            "in": "query",
            "name": "idInmobiliaria",
            "type": "integer",
            "required": true,
            "description": "Identificador de Inmobiliaria"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NotificacionPush"
            },
            "description": "RUT del cliente con dígito verificador"
          }
        ],
        "security": [
          {
            "NotificacionPush": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/historial-notificaciones-push": {
      "x-swagger-router-controller": "GuiaNotificacionPushController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "historial",
        "summary": "Endpoint para listar historial de consulta",
        "description": "Historial de consulta",
        "parameters": [
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "RUT cliente sin dígito verificador"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "apikey de inmobiliaria"
          },
          {
            "in": "query",
            "name": "proyectoId",
            "type": "integer",
            "required": true,
            "description": "identificador del proyecto"
          }
        ],
        "security": [
          {
            "NotificacionPush": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/HistorialNotificacionesPush"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/banners": {
      "x-swagger-router-controller": "GuiaBannerController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "getBanners",
        "summary": "Endpoint para listar los banner de un proyecto",
        "description": "Banners",
        "parameters": [
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "RUT cliente sin dígito verificador"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "apikey de inmobiliaria"
          },
          {
            "in": "query",
            "name": "proyectoId",
            "type": "integer",
            "required": true,
            "description": "identificador del proyecto"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Banners"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/notificacion-abierta": {
      "x-swagger-router-controller": "GuiaNotificacionPushController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "notificacionAbierta",
        "summary": "marca la notificacion push como leida",
        "description": "Marca la notificación push como leída mediante el id y el rut del cliente",
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "rut": {
                  "type": "string"
                },
                "idNotificacion": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "security": [
          {
            "NotificacionPush": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/archivos/documentos": {
      "x-swagger-router-controller": "GuiaArchivosDocumentosController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "listar",
        "summary": "Endpoint para listar documentos",
        "description": "Historial de documentos",
        "parameters": [
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "RUT cliente"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "apikey de inmobiliaria"
          },
          {
            "in": "query",
            "name": "proyectoId",
            "type": "integer",
            "required": true,
            "description": "identificador del proyecto"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Archivos"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/archivos/reserva": {
      "x-swagger-router-controller": "GuiaArchivoReservaController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "descargar",
        "description": "Descargar archivo para de una reserva",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id de la reserva"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "ApiKey de la inmobiliaria"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/archivos/fotos": {
      "x-swagger-router-controller": "GuiaArchivosFotosController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "listar",
        "summary": "Endpoint para listar fotos",
        "description": "Historial de fotos",
        "parameters": [
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "RUT cliente"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "apikey de inmobiliaria"
          },
          {
            "in": "query",
            "name": "proyectoId",
            "type": "integer",
            "required": true,
            "description": "identificador del proyecto"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Fotos"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/archivos/videos": {
      "x-swagger-router-controller": "GuiaArchivosVideosController",
      "get": {
        "tags": [
          "Guia"
        ],
        "operationId": "listar",
        "summary": "Endpoint para listar videos",
        "description": "Historial de videos",
        "parameters": [
          {
            "in": "query",
            "name": "rut",
            "type": "string",
            "required": true,
            "description": "RUT cliente"
          },
          {
            "in": "query",
            "name": "apiKey",
            "type": "string",
            "required": true,
            "description": "apikey de inmobiliaria"
          },
          {
            "in": "query",
            "name": "proyectoId",
            "type": "integer",
            "required": true,
            "description": "identificador del proyecto"
          }
        ],
        "security": [
          {
            "CognitoJWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Videos"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/guia/publicacion/{id}/enviar-notificaciones": {
      "x-swagger-router-controller": "GuiaPublicacionNotificacionController",
      "post": {
        "tags": [
          "Guia"
        ],
        "operationId": "notificarClientes",
        "summary": "Endpoint para enviar notificaciones por publicación",
        "consumes": [
          "application/octet-stream"
        ],
        "description": "Notificaciones por publicación",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true
          }
        ],
        "security": [
          {
            "APIKey": [],
            "NotificacionPush": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pok-pago/deudas/{codigo}": {
      "x-swagger-router-controller": "PokPagosController",
      "post": {
        "tags": [
          "Pok Pagos"
        ],
        "operationId": "findPokPagosByProyectIdAndUserDni",
        "summary": "Endpoint de Pok Pago para traer listado de deudas para Otros Pagos",
        "description": "Endpoint de Pok Pago para traer listado de deudas para Otros Pagos",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "codigo_interno": {
                  "type": "string"
                },
                "cliente": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "security": [
          {
            "XAPIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PokPagosResponse"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pok-pago/pago": {
      "x-swagger-router-controller": "PokPagosController",
      "put": {
        "tags": [
          "Pok Pagos"
        ],
        "operationId": "actualizarPago",
        "summary": "Endpoint de Pok Pago para actualizar un pago",
        "description": "Endpoint de Pok Pago para actualizar un pago",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "id_pago": {
                  "type": "integer"
                },
                "fecha_recaudacion": {
                  "type": "string",
                  "format": "date"
                },
                "monto_pesos": {
                  "type": "number",
                  "format": "float"
                },
                "id_transaccion": {
                  "type": "string"
                },
                "fecha_conversion": {
                  "type": "string",
                  "format": "date"
                },
                "monto_conversion": {
                  "type": "number",
                  "format": "float"
                }
              }
            }
          }
        ],
        "security": [
          {
            "XAPIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pok-pago/pagos/reversa/{codigo}": {
      "x-swagger-router-controller": "PokPagosController",
      "post": {
        "tags": [
          "Pok Pagos"
        ],
        "operationId": "reversaPokPagosByCuotaId",
        "summary": "Endpoint de Pok Pago para reversar Pago",
        "description": "Endpoint de Pok Pago para reversar Pago",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cliente": {
                  "type": "string"
                },
                "codigo_interno": {
                  "type": "string"
                },
                "id_transaccion": {
                  "type": "string"
                },
                "fecha_pago": {
                  "type": "string"
                },
                "monto": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "security": [
          {
            "XAPIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/pok-pago/pagos/{codigo}": {
      "x-swagger-router-controller": "PokPagosController",
      "post": {
        "tags": [
          "Pok Pagos"
        ],
        "operationId": "registerPayment",
        "summary": "Endpoint de Pok Pago guardar Pago realizado con éxito",
        "description": "Endpoint de Pok Pago guardar Pago realizado con éxito",
        "parameters": [
          {
            "name": "codigo",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "cliente": {
                  "type": "string"
                },
                "codigo_interno": {
                  "type": "string"
                },
                "id_transaccion": {
                  "type": "string"
                },
                "fecha_pago": {
                  "type": "string"
                },
                "fecha_creacion": {
                  "type": "string"
                },
                "fecha_ultima_modificacion": {
                  "type": "string"
                },
                "monto": {
                  "type": "integer"
                }
              }
            }
          }
        ],
        "security": [
          {
            "XAPIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/iconstruye/facturaciones/producto-principal": {
      "x-swagger-router-controller": "FacturacionController",
      "post": {
        "tags": [
          "Iconstruye"
        ],
        "operationId": "procesarFacturacionProductoPrincipal",
        "description": "Procesa una facturacion en base a la fecha firma comprador y la envia a iconstruye",
        "security": [
          {
            "XAPIKey": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idEscrituraSeguimiento": {
                  "type": "number"
                },
                "idPromesa": {
                  "type": "number"
                },
                "idProyecto": {
                  "type": "number"
                },
                "fechaHito": {
                  "type": "string",
                  "format": "date"
                },
                "idCliente": {
                  "type": "number"
                },
                "tipoCliente": {
                  "type": "string",
                  "enum": [
                    "NATURAL",
                    "JURIDICA"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/iconstruye/facturaciones/productos-secundarios": {
      "x-swagger-router-controller": "FacturacionController",
      "post": {
        "tags": [
          "Iconstruye"
        ],
        "operationId": "procesarFacturacionProductosSecundarios",
        "description": "Procesa una facturacion en base a la fecha firma productos secundarios y la envia a iconstruye",
        "security": [
          {
            "XAPIKey": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "idEscrituraSeguimiento": {
                  "type": "number"
                },
                "idPromesa": {
                  "type": "number"
                },
                "idProyecto": {
                  "type": "number"
                },
                "fechaHito": {
                  "type": "string",
                  "format": "date"
                },
                "idCliente": {
                  "type": "number"
                },
                "tipoCliente": {
                  "type": "string",
                  "enum": [
                    "NATURAL",
                    "JURIDICA"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/inmobiliarias": {
      "x-swagger-router-controller": "InmobiliariaController",
      "get": {
        "operationId": "findByAPIKey",
        "description": "Obtener inmobiliaria por apikey",
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Inmobiliaria"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/login": {
      "x-swagger-router-controller": "LoginController",
      "post": {
        "operationId": "login",
        "description": "Login",
        "parameters": [
          {
            "name": "credentials",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Credentials"
            }
          }
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/me": {
      "x-swagger-router-controller": "LoginController",
      "get": {
        "operationId": "me",
        "description": "Obtener perfil del usuario autenticado",
        "security": [
          {
            "JWT": []
          },
          {
            "SsoJWT": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "apikey",
            "type": "string",
            "required": true,
            "description": "apikey de inmobiliaria"
          },
          {
            "in": "query",
            "name": "username",
            "type": "string",
            "required": false,
            "description": "Nombre de usuario o email"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/refresh-token": {
      "x-swagger-router-controller": "LoginController",
      "post": {
        "operationId": "refresh",
        "description": "Refresh Token",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "refresh_token"
              ],
              "properties": {
                "refresh_token": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "security": [
          {
            "APIKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                },
                "refresh_token": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Access Denied",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/documentos": {
      "x-swagger-router-controller": "DocumentoController",
      "get": {
        "operationId": "findAllByRutOrIdCliente",
        "description": "Obtiene los documentos de un cliente por su ID o rut",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "tipoIdentificador",
            "type": "string",
            "required": true,
            "description": "Tipo identificador del cliente asociado a los documentos a buscar (Rut o ID Cliente)",
            "enum": [
              "rut",
              "id_cliente"
            ]
          },
          {
            "in": "query",
            "name": "identificador",
            "type": "string",
            "required": true,
            "description": "Valor del identificador del cliente asociado a los documentos a buscar (Ingrese el valor del rut o el id cliente"
          },
          {
            "in": "query",
            "name": "fechaInicio",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Ingresar en formato YYYY-MM-DD"
          },
          {
            "in": "query",
            "name": "fechaFin",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Ingresar en formato YYYY-MM-DD"
          },
          {
            "in": "query",
            "name": "extension",
            "type": "string",
            "required": false,
            "description": "Extension del documento"
          },
          {
            "in": "query",
            "name": "idTipoDocumento",
            "type": "string",
            "required": false,
            "description": "ID del tipo de documento"
          },
          {
            "in": "query",
            "name": "idDocumento",
            "type": "string",
            "required": false,
            "description": "ID del documento"
          },
          {
            "in": "query",
            "name": "idProyecto",
            "type": "string",
            "required": false,
            "description": "ID del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Documentos"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos": {
      "x-swagger-router-controller": "ProyectoController",
      "get": {
        "operationId": "findByUsuario",
        "description": "Obtener proyectos por usuario",
        "security": [
          {
            "JWT": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Proyectos"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/etapas": {
      "x-swagger-router-controller": "EtapaController",
      "get": {
        "operationId": "findByProyectoId",
        "description": "Obtener etapas por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Etapas"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/mediosDeLlegada": {
      "x-swagger-router-controller": "MedioDeLlegadaController",
      "get": {
        "operationId": "findByProyectoId",
        "description": "Obtener medios de llegada por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MediosDeLlegada"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{idProyecto}/clientes/{idCliente}/mediosDeLlegada": {
      "x-swagger-router-controller": "MedioDeLlegadaController",
      "get": {
        "operationId": "obtenerMedioLlegadaPorCliente",
        "description": "Obtiene todos los medios de llegada asociados a un cliente de un proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "idProyecto",
            "type": "integer",
            "required": true
          },
          {
            "in": "path",
            "name": "idCliente",
            "type": "integer",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "idUltimoMedioLlegada": {
                  "type": "integer"
                },
                "glosaUltimoMedioLlegada": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/modelos": {
      "x-swagger-router-controller": "ModeloController",
      "get": {
        "operationId": "findByProyectoId",
        "description": "Obtener modelos por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Modelos"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/productos-principales": {
      "x-swagger-router-controller": "ProductoPrincipalController",
      "get": {
        "operationId": "findByProyectoId",
        "description": "Obtener productos principales por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          },
          {
            "in": "query",
            "name": "piso",
            "type": "integer",
            "required": false,
            "description": "Piso del producto"
          },
          {
            "in": "query",
            "name": "orientacion",
            "type": "string",
            "required": false,
            "description": "orientacion del producto"
          },
          {
            "in": "query",
            "name": "tipoProducto",
            "type": "string",
            "required": false,
            "description": "tipo de producto"
          },
          {
            "in": "query",
            "name": "programa",
            "type": "string",
            "required": false,
            "description": "programa de producto"
          },
          {
            "in": "query",
            "name": "nombreModelo",
            "type": "string",
            "required": false,
            "description": "Nombre del modelo"
          },
          {
            "in": "query",
            "name": "disponibleWeb",
            "type": "boolean",
            "required": false,
            "description": "Disponibilidad en web del producto"
          },
          {
            "in": "query",
            "name": "disponibleSistema",
            "type": "boolean",
            "required": false,
            "description": "Disponibilidad en sistema del producto"
          },
          {
            "in": "query",
            "name": "estado",
            "type": "string",
            "enum": [
              "Disponible",
              "Reservado",
              "Promesado",
              "Escriturado"
            ],
            "required": false,
            "description": "Estado del producto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductoPrincipal"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/productos-secundarios": {
      "x-swagger-router-controller": "ProductoSecundarioController",
      "get": {
        "operationId": "findByProyectoId",
        "description": "Obtener productos secundarios por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductoSecundario"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/productos-adicionales": {
      "x-swagger-router-controller": "ProductoAdicionalController",
      "get": {
        "operationId": "findByProyectoId",
        "description": "Obtener productos adicionales por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/ProductoAdicional"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/{id}/cuentas-corrientes": {
      "x-swagger-router-controller": "ProyectoController",
      "get": {
        "operationId": "getCuentasCorrientes",
        "description": "Obtener Cuentas Corrientes por Proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/proyectos/nombre/{nombre}/reservas": {
      "x-swagger-router-controller": "ReservaController",
      "get": {
        "operationId": "findByNombreProyecto",
        "description": "Obtener reservas por proyecto",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "nombre",
            "type": "string",
            "required": true,
            "description": "nombre del proyecto"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/Reserva"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/etapas/{id}/subagrupaciones": {
      "x-swagger-router-controller": "SubAgrupacionController",
      "get": {
        "operationId": "findByEtapaId",
        "description": "Obtener subapgrupaciones por etapa",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id de la etapa"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SubAgrupaciones"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/etapa/{id}/productos-secundarios": {
      "x-swagger-router-controller": "ProductoSecundarioController",
      "get": {
        "operationId": "findByEtapaId",
        "description": "Obtener productos secundarios por etapa",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id Etapa"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductoSecundario"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/modelos/{modeloId}/imagenes/{id}": {
      "x-swagger-router-controller": "ImagenModeloController",
      "get": {
        "operationId": "findByModeloIdAndImagenId",
        "description": "Obtener imagen para de un modelo",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "modeloId",
            "type": "integer",
            "required": true,
            "description": "id del modelo"
          },
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id imagen"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/modelos/{id}/productos-principales": {
      "x-swagger-router-controller": "ProductoPrincipalController",
      "get": {
        "operationId": "findByModeloId",
        "description": "Obtener productos principales por modelo",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id del modelo"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductoPrincipal"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/modelos/{id}": {
      "patch": {
        "x-swagger-router-controller": "ModeloController",
        "operationId": "updateModelo",
        "description": "Actualiza atributos parciales del modelo",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "ID del modelo"
          },
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "glosa_modelo": {
                  "type": "string"
                },
                "cant_dormitorios": {
                  "type": "integer"
                },
                "cant_banos": {
                  "type": "number"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Modelo actualizado correctamente",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "id": {
                  "type": "integer"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos"
          },
          "409": {
            "description": "Conflicto de nombre"
          },
          "500": {
            "description": "Error del servidor"
          }
        }
      }
    },
    "/subagrupaciones/{id}/productos-secundarios": {
      "x-swagger-router-controller": "ProductoSecundarioController",
      "get": {
        "operationId": "findBySubAgrupacionId",
        "description": "Obtener productos secundarios por subAgrupacion",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id subagrupacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/ProductoSecundario"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/subagrupaciones/{id}/productos-adicionales": {
      "x-swagger-router-controller": "ProductoAdicionalController",
      "get": {
        "operationId": "findBySubAgrupacionId",
        "description": "Obtener productos adicionales por subAgrupacion",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id subagrupacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/ProductoAdicional"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/subagrupaciones/{id}/descuentos-sala-ventas": {
      "x-swagger-router-controller": "SubagrupacionDescuentoController",
      "get": {
        "operationId": "findBySubAgrupacionId",
        "description": "Obtener productos adicionales por subAgrupacion",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "type": "integer",
            "required": true,
            "description": "id subagrupacion"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "$ref": "#/definitions/DescuentoSalaVentas"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/packs": {
      "x-swagger-router-controller": "PackController",
      "get": {
        "operationId": "findAll",
        "description": "Obtener packs",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "id_proyecto",
            "type": "integer",
            "required": false,
            "description": "id proyecto"
          },
          {
            "in": "query",
            "name": "id_modelo",
            "type": "integer",
            "required": false,
            "description": "id modelo"
          },
          {
            "in": "query",
            "name": "id_producto",
            "type": "integer",
            "required": false,
            "description": "id producto"
          },
          {
            "in": "query",
            "name": "id_producto_secundario",
            "type": "integer",
            "required": false,
            "description": "id producto secundario"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/Pack"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "insertPack",
        "description": "Insertar pack",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "productoPrincipalId": {
                  "type": "integer",
                  "example": 0
                },
                "productosSecundariosIds": {
                  "type": "string",
                  "example": ""
                },
                "productosAdicionalesIds": {
                  "type": "string",
                  "example": ""
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/packs/{id}": {
      "x-swagger-router-controller": "PackController",
      "put": {
        "operationId": "updatePack",
        "description": "Actualizar pack",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "description": "ID del pack a actualizar"
          },
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "productoPrincipalId": {
                  "type": "integer",
                  "example": ""
                },
                "productosSecundariosIds": {
                  "type": "string",
                  "example": ""
                },
                "productosAdicionalesIds": {
                  "type": "string",
                  "example": ""
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pack actualizado correctamente",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "No autorizado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "delete": {
        "operationId": "deletePack",
        "description": "Eliminar pack por ID",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "description": "ID del pack a eliminar"
          }
        ],
        "responses": {
          "200": {
            "description": "Pack eliminado correctamente",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },
                "message": {
                  "type": "string",
                  "example": ""
                },
                "id": {
                  "type": "integer",
                  "example": ""
                }
              }
            }
          },
          "404": {
            "description": "No encontrado",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "500": {
            "description": "Error interno",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/clientes/naturales/cotizaciones/{rut_dni}": {
      "x-swagger-router-controller": "ClienteController",
      "get": {
        "operationId": "findCotizacionesByRutCliente",
        "description": "Obtener las cotizaciones de un cliente por medio del rut o DNI",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "rut_dni",
            "type": "integer",
            "required": true,
            "description": "Rut o DNI del cliente"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/ClientesNaturalesCotizaciones"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads": {
      "x-swagger-router-controller": "CentralizadorController",
      "get": {
        "operationId": "findAllCentralizador",
        "description": "Obtener registros centralizador",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "estado",
            "type": "string",
            "enum": [
              "Bueno",
              "Con Problemas",
              "Malo"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "fechaInicio",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Ingresar en formato YYYY-MM-DD"
          },
          {
            "in": "query",
            "name": "fechaFin",
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Ingresar en formato YYYY-MM-DD"
          },
          {
            "in": "query",
            "name": "contacto",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "rutVendedor",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/Centralizador"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "insertCentralizador",
        "description": "Insertar registros via API",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "medio_llegada": {
                  "type": "string"
                },
                "fecha_ingreso": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Ingresar en formato YYYY-MM-DD"
                },
                "rut_dni": {
                  "type": "string"
                },
                "nombre": {
                  "type": "string"
                },
                "apellido_paterno": {
                  "type": "string"
                },
                "apellido_materno": {
                  "type": "string"
                },
                "telefono_fijo": {
                  "type": "string"
                },
                "telefono_movil": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                },
                "proyecto": {
                  "type": "string"
                },
                "proyecto_id": {
                  "type": "integer"
                },
                "producto_id": {
                  "type": "integer"
                },
                "producto_glosa": {
                  "type": "string"
                },
                "comentario": {
                  "type": "string"
                },
                "clausula_publicidad": {
                  "type": "string"
                },
                "clausula_proyecto": {
                  "type": "string"
                },
                "utm_source": {
                  "type": "string"
                },
                "utm_medium": {
                  "type": "string"
                },
                "utm_campaign": {
                  "type": "string"
                },
                "utm_term": {
                  "type": "string"
                },
                "utm_content": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCentralizador",
        "description": "Actualizar registros centralizador",
        "security": [
          {
            "JWT": []
          }
        ],
        "parameters": [
          {
            "in": "body",
            "name": "data",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/leads/vendedores": {
[...]
